<!DOCTYPE html>
<html lang="en">
    <head>
         <link rel="stylesheet" type="text/css" href="static/css/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/main.css">
        <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
        <script src="static/js/semantic.min.js"></script>      
        </style>
    </head> 
    <body>
        <div class="ui container">
            <div class="ui container raised segment wid">
                <div class="fa">
                    <div class="sage">
                        <h1>Sign Up</h1>
                    </div>
                    <div class="ff">
                        with your social network
                    </div>
                    <div class="sage">
                        <a class="large ui facebook button" href="https://www.google.com">
                            <i class="facebook icon"></i>
                            Facebook
                        </a>
                        <a class="large ui twitter button">
                            <i class="twitter icon"></i>
                            Twitter
                        </a>
                        <a class="large ui google plus button">
                            <i class="google icon"></i>
                            Google
                        </a>
                    </div>
                    <div class="ui horizontal divider">
                        Or
                      </div>
                    <form class="ui big form">
                        <div class="required field">
                            <input type="text" name="first-name" placeholder="Username">
                        </div>
                        <div class="required field">
                            <input type="email" placeholder="Email">
                          </div>
                        <div class="required field">
                            <input type="password" placeholder="Password">
                        </div>
                    </form>
                    <div class="fg">
                        Your password must be at least 6 characters long and must contain letters,
                            numbers and special characters. Cannot contain whitespace
                    </div>
                    <div class="wit">
                        <button class="fluid ui big primary button">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div>    
        </div>
    </body>
</html>