{% extends 'base.html' %}
{% block body %}
<div class="ui container">
    <div class="ui container raised segment wid">
        <div class="fa">
            <div class="sage">
                <h1>Sign Up</h1>
            </div>
            <div class="ff">
                with your social network
            </div>
            <div class="sage">
                <a class="large ui facebook button" href="{{ url_for("facebook.login") }}">
                    <i class="facebook icon"></i>
                    Facebook
                </a>
                <a class="large ui twitter button" href="{{ url_for("twitter.login") }}">
                    <i class="twitter icon"></i>
                    Twitter
                </a>
                <a class="large ui google plus button" href="{{ url_for("google.login") }}">
                    <i class="google icon"></i>
                    Google
                </a>
            </div>
            <div class="ui horizontal divider">
                Or
            </div>
            <form method="POST" action="" class="ui big form" novalidate>
                {{ form.hidden_tag() }}
                <!-- Username field and validation -->
                {% if form.username.errors %}
                <div class="error field required">
                    {{ form.username.label }}
                    {{ form.username }}
                    <small>{{ form.username.description }}</small>
                    {% for error in form.username.errors %}
                    <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="field required">
                    {{ form.username.label }}
                    {{ form.username }}
                    <small>{{ form.username.description }}</small>
                </div>
                {% endif %}

                <!-- Email field and validation -->
                {% if form.email.errors %}
                <div class="error field required">
                    {{ form.email.label }}
                    {{ form.email }}
                    {% for error in form.email.errors %}
                    <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="field required">
                    {{ form.email.label }}
                    {{ form.email }}
                </div>
                {% endif %}

                <!-- Password field and validation -->
                {% if form.password.errors %}
                <div class="error field required">
                    {{ form.password.label }}
                    {{ form.password }}
                    {% for error in form.password.errors %}
                    <div class="ui basic red pointing prompt label transition visible">{{ error }}</div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="field required">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
                {% endif %}
                <div class="fg">
                    Your password must be at least 6 characters long and must contain letters,
                    numbers and special characters. Cannot contain whitespace
                </div>
                <div class="ui submit wit">
                    {{ form.submit(class="fluid ui big primary button") }}
                </div>
            </form>


        </div>
    </div>
</div>
{% endblock %}